body{
  background:url("./assets/back.jpg");
  background-size: cover
}

#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:white
  
}

.cheemsImg{
  width: 40vw;
  height: auto;
  border-radius: 5%
}
.demvice{
  background-color: rgb(77, 4, 196);
  border: 1vh ;
  border-color: rgb(59, 6, 109);
  border-style: solid;
  border-radius: 7%;
  width: 80vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}